@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgb(0, 68, 146);
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo_section {
  line-height: 15px;
}

li {
  list-style: none;
}

.menu {
  display: flex;
}

.menu_item {
  padding: 0 20px;
}

a {
  color: #fff;
}

.logo {
  width: 25px;
  height: 52px;
}